export const environment = {
  production: true,
  googleClientId: '957773514091-2ovknddlin6hcrvatmabqig6hq45qub0.apps.googleusercontent.com',
  apiUrl: 'http://localhost:3000',
  websocketUrl: 'ws://localhost:3000'
};